@import colors
@import prefixes
@import extraIg
@import Tooltip

.ig
    @import basics

.ig
    width 486px
    height 800px
    &.states
        height 800px
    margin-top 20px

    div.content
        position absolute
        top 22px
        left 38px

    div.sider
        position absolute
        top 21px
        left 0px

    div.ig-header
        position absolute
        top 0px
        left 36px

    div.cell
        position absolute
        width 34px
        height 34px
        border-radius 3px
        z-index 2
        &:hover
            cursor help
        &.empty
            z-index 1
            border-top 1px dotted #ccc
            border-radius 0px
            width 39px
            margin-top -2px
            &:hover
                cursor default

    div.head
    div.side
        position absolute

        &.ico
            width 22px
            height 14px
            border 1px solid #ddd
            background-position center center
            background-repeat no-repeat
        &.abbr
            margin-top 8px
            font-size 0.8em

    div.head
        top 0px
        margin-left 8px

    div.side
        left 0px
        margin-top 11px
        cursor help
        &.ico
            left 8px
            .count
                font-size 0.8em
                position absolute
                top -4px
                left -31px
                text-align right
                width 24px

        &.abbr .count
            display none

    for abbr in us ca ru sw fi cz sk uk lo be ne swe de ka au no fr sl it
        .ico.{abbr}
            src = abbr + ".png"
            background-image iurl(src)

