@import colors
@import prefixes
@import extraIg
@import Tooltip

.ig
    @import basics

.ig
    width 998px
    background #888
    margin-top 20px
    svg
        overflow hidden
    div.content
        position absolute
        top 50px
    div.cell
        position absolute
        width 37px
        height 37px
        border-radius 3px
        border 1px solid #eee


