.tooltip
    font-family arial, helvetica, sans-serif
    z-index 50
    position absolute
    border 1px solid #888
    color #111
    border-radius 4px
    background-color white
    padding 5px 10px
    margin-top -8px
    margin-left 0px
    box-shadow #aaa 0px 0px 1px

    p.only-child
        margin 0px
